.ui-menu {
    width: 150px;
}
.dragBox {
	position: absolute;
	width: 150px;
	height: 150px;
	padding: 0.5em;
}
#menuContainer {
	position: absolute;
    right: 0;
	top: 0;
}
#NewElementLocation {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100vw - 180px);
	height: calc(100vh - 25px);
	/*border: 5px solid red;*/
	padding: 0;
}
body {
	background-image: url('https://raw.githubusercontent.com/Johnsmith0508/misc-add/gh-pages/images/bkg.png');
	background-repeat: repeat;
	background-color: #858585;
}
textarea {
   resize: none;
}
html {
	height: 100vh;
}